.container{
    display:flex;
    background-color: rgb(227, 143, 90);
    width:1008px;
    height: 250px;
    border: 2px solid rgb(88, 88, 208);
    box-sizing: content-box;
   
}
.child{
    background-color: rgb(121, 231, 93);
    width: 100px;
    height: 300px;
    border: 5px solid rgb(190, 55, 55);
    font-size: 20px;
    font-weight: bold; 
}

.fixed-height{
    height: 200px;
}
.min-height{
   min-height: 200px;
}
.max-height{
    max-height: 200px;
}
.stretch{ 
    align-items: stretch;
}
.flex-start{
    align-items: flex-start;
}
.flex-end{
    align-items: flex-end;
}
.center{
    justify-content: center;
}
.baseline{
    justify-content: baseline;
}
div{
    font-weight: bold;
}
.container div::first-line
.container div:first-child{
    font-size: 40px;
}
html{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

