.container{
    display:flex;
    background-color: rgb(235, 128, 62);
    width: 1000px;
    height:300px;
    border: 2px solid rgb(1, 1, 8);
    box-sizing: content-box;
   
}
.child{
    background-color: rgb(178, 231, 164);
    width: 100px;
    min-height:320px;
    border: 5px solid rgb(108, 10, 10);
    font-size: 20px;
    font-weight: bold; 
}
.stretch{ 
    align-items: stretch;
}
.flex-start{
    align-items: flex-start;
}
.flex-end{
    align-items: flex-end;
}
.center{
    justify-content: center;
}
.baseline{
    justify-content: baseline;
}

