
div p:first-child::first-letter{
  color: blueviolet;
  font-size: 100px;
  font: bold;
  border: 3px solid black;
  background-color: beige;
}

div p:last-child::first-letter{
  color: rgb(45, 159, 4);
  font-size: 100px;
  font: bold;
  border: 3px solid black;
  background-color: azure;
}

div p:only-child::first-letter{
  color: rgb(255, 51, 0);
  font-size: 100px;
  font: bold;
  border: 3px solid black;
  background-color: rgb(227, 246, 246);

}



