
p{
   background-color:bisque;
   
}

.sai{
    color: rgb(9, 147, 101);
}
.kumar{
    border: 1px solid black;
}
#warn{
    color: rgb(84, 149, 19);
}
#sai{
    color: rgb(95, 103, 160);
}
h1{
    color: aquamarine;
}
h2{
    color: rgb(51, 21, 223);
}
h1,h2{
    background-color: rgb(245, 245, 245);
}


div h1{
    color: blueviolet;
}
div h2{
    color: rgb(221, 129, 17);
}
div h1,div h2{
    background-color: aquamarine;
}

a{
    font-size: xx-large;
}

a:link{
    color: rgb(214, 17, 17);
}
a:visited{
    color: rgb(5, 85, 132);
}
a:hover{
    color: black;
}
a:active{
    color: rgb(0, 255, 51);
}


div p:first-child{
    color: blue;

}
div p:last-child{
    color: rgb(255, 0, 170);

}
div p:only-child{
    color: rgb(62, 190, 11);

}
p:nth-child(2n+1){
    color: rgba(245, 5, 5, 0.908);

}

a[target="_blank"] {
    background-color: rgb(231, 231, 38);
  }

h2 ~ p {
    font-style: italic;
}

p[lang|="en"] {
    font-weight: bold;
}

a[href^="https"] {
    color: blue;
}

a[href$=".org"] {
    color: green;
}

h2 + span {
    color: red;
}

.sai::before{
    content:"yes, i like css";
}

p::selection{
    color: aquamarine;
}

input::placeholder {
    color: #d82f2f;
}

li::marker {
    color: blue;
    font-size: medium;
    border: 2px solid black;
}
 
P{
    font-size: px;
}
span{
    font-size: 2em;
}
span{
    font-size: 3em;
}

html{
    font-size: 20px;
}
p{
    font-size: 10px;
}
.one{
    font-size: 1rem;
}
.two{
    font-size: 2rem;
}
.three{
    font-size: 3rem;
}

h1{
    font-size: 30px;
    font-family: "Potta One", system-ui;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 4rem;
}
#cb{
    width: 300px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    border: 8px solid black;
}
#bb{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 60, 0);
    padding: 100px;
    border: 10px solid rgb(8, 7, 7);
    box-sizing: border-box;
}*/
.sai{
    background-image: url(https://t4.ftcdn.net/jpg/05/51/73/07/360_F_551730796_1hsv3NPmpSlhmyWXHtthxK7TfDEka6cQ.jpg);
    background-position: top;
    
}


  
