.hidden{
    display: none;
}
.block{
    display: block;
    border: 10px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 200px;
   
}
.inline{
    display:inline;
    border: 10px solid rgb(19, 189, 7);
    padding:10px;
    margin: 10px;
    width: 200px;
    height: 200px;
  
}
.inline-block{
    display:inline-block;
    border: 10px solid rgb(19, 189, 7);
    padding:10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    
}
html{
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}